# DotEnv
.env

# Tests
test
tests
testing

# Services
.codeclimate.yml
.travis.yml
codecov.yml
.gitignore
.bithoundrc
.eslintignore
.eslintrc.json
.jsdoc.json
.markdownlint.json
app.json
.npmignore

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Coverage, code docs and quality directories
coverage
quality
lint
docs

# Dependency directories
node_modules
jspm_packages
*.tgz

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history
